<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Add Tasks</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="../static/css/forms.css"
            th:href="@{/css/forms.css}"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <!--Bulma css-->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    >
    <link
            rel="stylesheet"
            type="text/css"
            href="../static/css/forms.css"
            th:href="@{/css/forms.css}"
    />


    <!--Search list style-->
    <style>
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        #myUL li a {
            border: 1px solid #ddd;
            margin-top: -1px; /* Prevent double borders */
            background-color: #f6f6f6;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            display: block
        }

        #myUL li a:hover:not(.header) {
            background-color: #eee;
        }
    </style>


</head>

<body>
<nav
        class="navbar is-link navb"
        role="navigation"
        aria-label="main navigation"
>
    <div class="navbar-brand">
        <h2 class="title is-5 white">Mini Jira Application</h2>
    </div>

    <div class="navbar-end">
        <form th:action="@{/logout}" method="POST">
            <button class="button is-danger" type="submit">
                Logout
            </button>
        </form>

    </div>
    </div>
</nav>
<br>
<section class="form-section">
    <div class="form-div view-form">
        <form action="#"
              th:action="@{/tasks/processFormAfterAdd}"
              th:object="${task}"
              method="post"
        >

            <p style="color:red" th:if="${#fields.hasErrors('assignee')}"
               th:errors="*{assignee}">Error</p>

            <div class="complaint-field">
                <h4 class="title is-5">Name(*)</h4>

                <div class="control">
                    <div class="select">
                        <select th:field="*{assignee}">
                            <option th:value="'Luqmaan'" th:text="Luqmaan"></option>
                            <option th:value="'Riaz'" th:text="Riaz"></option>
                            <option th:value="'Mateen'" th:text="Mateen"></option>
                            <option th:value="'Aziz'" th:text="Aziz"></option>
                            <option th:value="'Rayyan'" th:text="Rayyan"></option>
                        </select>
                    </div>
                </div>

            </div>

            <p style="color:red" th:if="${#fields.hasErrors('taskName')}"
               th:errors="*{taskName}">Error</p>

            <div class="complaint-field">
                <h4 class="title is-5">Task(*)</h4>

          <!--  <input type="text" th:field="*{taskName}"
                   class="form-control mb-4 col-4" placeholder="Task">-->
                <div class="control">
                    <div class="select">
                        <select th:field="*{taskName}">
                            <option th:value="'Linux'" th:text="Linux"></option>
                            <option th:value="'Networking'" th:text="Networking"></option>
                            <option th:value="'Git'" th:text="Git"></option>
                            <option th:value="'CleanCode'" th:text="CleanCode"></option>
                            <option th:value="'OOPS'" th:text="OOPS"></option>
                            <option th:value="'Java'" th:text="Java"></option>
                            <option th:value="'DBMS'" th:text="DBMS"></option>
                            <option th:value="'HTML'" th:text="HTML"></option>
                            <option th:value="'CSS'" th:text="CSS"></option>
                            <option th:value="'JavaScript'" th:text="JavaScript"></option>
                            <option th:value="'React'" th:text="React"></option>
                        </select>
                    </div>
                </div>


            </div>

            <p style="color:red" th:if="${#fields.hasErrors('email')}"
               th:errors="*{email}">Error</p>

            <div class="complaint-field">
                <h4 class="title is-5">Email(*)</h4>
            <input type="text" th:field="*{email}"
                   class="form-control mb-4 col-4" placeholder="Email">
            </div>


                <input type="hidden" th:field="*{status}">


            <button class="button is-link" type="submit">Submit</button>
        </form>
        <br>
        <a th:href="@{/tasks/list}">Back to List</a>
    </div>

</section>


</body>
</html>